<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>
<p>James McAuliffe is the only one involved. He tries to be interested in computer science but finds it extremely confusing and often times difficult. This page willd develop further as he finds out what he's actually supposed to be doing</p>
</br>
<h2>What we do...</h2>
<p>Not entirely sure to be honest, we will see</p>
</br>
<h3>Chief of Everything</h3>
<p>James McAuliffe</p>
</br>
</br>
<p>here is a photo of me</p>
<img src="https://www.pngitem.com/pimgs/m/372-3721347_roastedchicken-rolled-a-random-image-posted-in-comment.png"

{% endblock %}