<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>
<p>James McAuliffe is the Chief of everything on this project, because he's the only one involved. He tries to be interested in computer science but finds it extremely confusing and often times difficult. This page willd develop further as he finds out what he's actually supposed to be doing</p>
</br>
<h2>What we do...</h2>
<p>Not entirely sure to be honest, we will see</p>
</br>
<h3>Chief Executive Officer</h3>
<p>James McAuliffe</p>
<h3>Chief Operations Officer</h3>
<p>James McAuliffe</p>
<h3>Chief Officer Officer</h3>
<p>James McAuliffe</p>
{% endblock %}